.serverWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
.serverContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* responsive 2 items per row */

@media (max-width: 768px) {
    .serverContainer {
        width: 90%;
        flex-direction: row;
    }
}
